* {
    background-color: rgba(0, 0, 0, 0);;
}
body {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 1.32em;
    line-height: 2.5vh;
    color: white;
}

p {
    font-size: 1em;
    line-height: 1vh;
    color: #828282;
}

a {
    color: #828282;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #cdcdcd;
}

#txt {
    position: absolute;
    bottom: 7vh;
    padding-left: 5vw;
}