/* Ensure the body takes up the full height of the viewport */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 20px;

    background-color: #f0f0f0; 
    color: #333;
    overflow: hidden;
    box-sizing: border-box;
}

/* Container for the main content */
.container {
    max-width: 800px;
    text-align: left;
    line-height: 1.6;

    padding-bottom: 2em;
}

/* Footer styling */
.footer {
    color: #989898;
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    font-size: 0.8em;
    position: absolute; 
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

/* Links within the content */
a {
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

/* Styling for inline code blocks */
.code-block {
    display: inline-block;
    background-color: #e8e8e8;
    padding: 0px 3px;
    border-radius: 4px;
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
    color: #333;
}

.code-inline {
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
    color: #333;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    body {
        overflow-y: auto; /* Allow vertical scrolling on mobile */
        font-size: small;
    }
}

/* Dark mode styling */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #f0f0f0;
    }

    .code-block {
        background-color: #333;
        color: #f0f0f0;
    }

    .code-inline {
        color: #f0f0f0;
    }

    .footer {
        color: #444444;
    }
}